<app-menu></app-menu>
<div class="delimitador">
    <h3 class="text-center">Solicitud de Registro de Organización</h3><br>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre de la Organización</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Los Elegidos" [(ngModel)]="solicitudModel.nombreorg" name="nombreorg">
            </div>
            <div class="form-group col-md-6">
                <label for="inputpartida">Numero de Partida</label>
                <input type="text" class="form-control" id="inputpartida" placeholder="Numero" [(ngModel)]="solicitudModel.numpartreg" name="numpartreg">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputdenominacion">Tipo de Organización</label>
                <select class="custom-select " id="inputdenominacion">
                <option selected>Organizaciones</option>
                <option *ngFor="let tipos of tiporganizacion">{{tipos.NOMBRE}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputorganizacion">Tipo de Denominación</label>
                <select class="custom-select" id="inputorganizacion" name="nombredeno" [(ngModel)]="solicitudModel.id_tipodeno">
                <option selected="selected">Denominaciones...</option>
                <option *ngFor="let denominacion of tipodenoModel" [value]="denominacion.ID_TIPODENO">
                    <span>{{denominacion.NOMBRE}}</span>
                </option>
              </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputCity">Cantidad de Integrantes</label>
                <input type="number" class="form-control" id="inputCity" placeholder="100" [(ngModel)]="solicitudModel.totalmiembros" name="totalmiembros">
            </div>
            <div class="form-group col-md-4">
                <label for="fechainicio">Fecha de la Organización</label>
                <input type="date" class="form-control" id="fechainicio" [(ngModel)]="solicitudModel.fec_iniactv" name="fec_iniactiv">
            </div>
        </div>
        <label for="customFileLang">Documentos de la Organización</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFileLang" lang="es" (change)="actualizararchivo($event.target.files)">
            <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
        </div>

        <div class="form-group"><br>
            <div class=" btn-group mr-5 form-group col-md-2" style="padding-left: 70%;">
                <button type="submit " class="btn btn-danger " routerLink='/'>Cancelar</button>
            </div>
            <div class="btn-group mr-5 form-group col-md-2" style="padding-left: 5%;">
                <button type="submit " class="btn btn-primary " (click)='agregarSolicitud()'>Enviar</button>
            </div>

        </div>

    </form>
</div>