<div class="delimitador">
  <button type="button" class="btn btn-outline-dark" >INICIO</button>
    <h1 class="text-center">LISTA DE SOLICITUDES</h1><br> 
    <form>
        <nav class="navbar navbar-light bg-light">
             <form class="form-inline ">
                 <input class="form-control mr-sm-3" type="search" placeholder="Seleccionar Organización" aria-label="Search">
                 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
             </form>
        </nav>
        <div class="table-responsive text-nowrap">

            <table class="table">
              <thead class="black white-text">

                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Solicitud</th>
                  <th scope="col">Tipo de Organización</th>
                  <th scope="col">Denominacion</th>
                  <th scope="col">Fecha de Emisión</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Visualización</th>
                  <th scope="col">Fecha de Validación</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>123456</td>
                  <td>Registro</td>
                  <td>Organizacion Pedregal</td>
                  <td>Asociacion de Vivivenda</td>
                  <td>20/10/20</td>
                  <td>Pendiente</td>
                  <td><div class="container">
                    <div class="modal" tabindex="-1" id="modal1">
                      <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                          <strong><h3> VISUALIZACION DE SOLICITUD</h3></strong>
                          <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <div class="card">
                            <div class="card-header">
                              <strong> Requerimiento1</strong>
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet.</p>
                              </blockquote>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header">
                              <strong>Requerimiento2</strong>
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet.</p>
                              </blockquote>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header">
                              <strong> Requerimiento1</strong>
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet.</p>
                              </blockquote>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-primary">ACEPTAR</button>
                          <button class="btn btn-danger" data-dismiss='modal'>RECHAZAR</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal1">👀</button>
                  </div></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>654321</td>
                  <td>Actualización</td>
                  <td>Organizacion Tarazona</td>
                  <td>Asociacion de Vivivenda</td>
                  <td>19/02/20</td>
                  <td>Pendiente</td>
                  <td><div class="container">
                    <div class="modal" tabindex="-1" id="modal1">
                      <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                          VISUALIZACION DE SOLICITUD
                          <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <div class="card">
                            <div class="card-header">
                             Requerimiento1
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet.</p>
                              </blockquote>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header">
                             Requerimiento2
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet.</p>
                              </blockquote>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header">
                             Requerimiento2
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet.</p>
                              </blockquote>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-primary">ACEPTAR</button>
                          <button class="btn btn-danger" data-dismiss='modal'>RECHAZAR</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal1">👀</button>
                  </div></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>234567</td>
                  <td>Registro</td>
                  <td>Organizacion Chucuito</td>
                  <td>Asociacion de Vivivenda</td>
                  <td>18/02/20</td>
                  <td>Pendiente</td>
                  <td>
                    <div class="container">
                    <div class="modal" tabindex="-1" id="modal1">
                      <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                          VISUALIZACION DE SOLICITUD
                          <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <div class="card">
                            <div class="card-header">
                             Requerimiento1
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet.</p>
                              </blockquote>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header">
                             Requerimiento2
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet.</p>
                              </blockquote>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header">
                             Requerimiento3
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet.</p>
                              </blockquote>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-primary">ACEPTAR</button>
                          <button class="btn btn-danger" data-dismiss='modal'>RECHAZAR</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal1">👀</button>
                  </div>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          
          </div>
        

    </form>
</div>