<div class="container">
    <form class="hola">
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre de la Organización:</label>
          <input type="text" class="form-control in" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Informe:</label>
          <textarea class="form-control inf" aria-label="With textarea"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Generar</button>
      </form>
</div>