<div>
    <div>
        <br>
        <h3 id="t">REGISTRO DE ORGANO DIRECTIVO</h3><br>
    </div>
    <div class="card" style="width: 68rem; margin-left: 257px; height: 703px;">
        <div class="card-body">
            <div class="t2">
                <h6>Nombre de organizacion: Los Pinos
                </h6><br>
                <h6>Tipo de organizacion: Organizacion de Vecinos</h6><br>
                <h6>Tipo Denominacion: Asociacion de Vivienda</h6>
            </div>


        </div>
        <div class="card cuerpo tabla">
            <div class="card-body" style="margin-left: 10px;  height: 360px; width: 98%; margin-top: 200px;">
                <div class="card buscador">
                    <div class="card-body" style=" height: 45x; margin-top: -190px;">
                        <form>
                            <div class="form-row align-items-center">


                                <div class="col-auto">

                                    <div class="select cargo">
                                        <label for="select cargo">Cargo</label>
                                        <div class="input-group mb-3" style="margin-left: 55px; margin-top: -40px;">
                                            <div class="input-group-prepend">
                                                <select class="form-control" [(ngModel)]="id_cargo" name="id"> <!--*ngFor="let cargos of cargo"-->
                                                    <option selected >Seleccionar el Cargo</option>
                                                    <option *ngFor="let cargos of cargo" [value] = "cargos.ID_CARGO">{{cargos.NOMBRE}}</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="select dni" style="margin-top: -55px; margin-left: 350px; margin-right: 120px;">

                                            <div class="form-group col-md-8">

                                                <input type="text" class="form-control" id="inputpartida" placeholder="DNI" [(ngModel)]="numero_doc" name="doc">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-auto">

                                    <button type="submit" class="btn btn-primary mb-2" (click)="updCargo()">Agregar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table table-bordered" style="margin-top: -100px;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">APELLIDOS</th>
                            <th scope="col">NOMBRE</th>
                            <th scope="col">TIPO_DOC</th>
                            <th scope="col">NUM_DOC</th>
                            <th scope="col">EST_CIVIL</th>
                            <th scope="col">TELEFONO</th>
                            <th scope="col">CARGO</th>


                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let lista of listapersonas; let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{lista.APEPAT}} {{lista.APEMAT}}</td>
                            <td>{{lista.NOMBRES}}</td>
                            <td>{{lista.NOMBRE}}</td>
                            <td>{{lista.NUMERO_DOC}}</td>
                            <td>{{lista.ESTACIVI}}</td>
                            <td>{{lista.TELEFONO}}</td>
                            <td>{{lista.CARGONOMBRE}}</td>

                        </tr>


                    </tbody>
                    <div>
                        <input class="btn btn-primary" type="button" value=" Enviar" routerLink="/listarorgano">
                    </div>
                </table>
            </div>

        </div>
    </div>

</div>